<html>
    <head>
        <title>Jason's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Welcome to my blog.</a></h1>
        </div>

        <div>
            <p>published: @some time</p>
            <h2><a href="">My first post</a></h2>
            <p>postiy posty post</p>
        </div>

        <div>
            <p>published: @some time</p>
            <h2><a href="">My second post</a></h2>
            <p>postpost secondy post</p>
        </div>
    </body>
</html>
